@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Raleway:400,600,600i,700,700i,800,800i,900');

.BrandName{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
}

.MenuList  li a
{
	font-family: 'Oswald', sans-serif;
	color:  #8ab82d;

}
.nevbar-default
{
	font-color: #8ab82d;	
}

.welcome
{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.licence-agreement
{
	font-family: 'Oswald', sans-serif;
}

#buttoncolor
{
	background-color:  black;	
	color:  #8ab82d;
}


.hometextbox
{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	text-align:center;
}

.center {
    margin-left: 15cm;
    margin-top: 2cm;
    width: 20%;
    padding: 10px;
}